@import url("reset.css");
@import url("typography.css");
@import url("navigation.css");

body {
	background: #EBEBEB;
	padding: 1rem 2rem;
}

img {
	border: 3px solid #000;
	box-shadow: 0 0 42px 2px rgba(0, 0, 0, 0.25);
	padding: 0.5rem;
	background: #fff;
}

main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main article {
	flex: 1 0 80%;
}

main aside {
	flex: 0 0 20%;
}

aside {
	padding-left: 1rem;
}

aside {
	flex: 1 0 20%;
}

.aside nav {
	padding-bottom: 15px;
}

.aside h3 {
	text-transform: capitalize;
	padding-bottom: 5px;
}

.aside ul {
	list-style-position: inside;
	padding-left: 15px;
}

.aside ul li:first-letter {
	text-transform: uppercase;
}

.aside a {
	color: rgb(0, 153, 0);
}

blockquote {
	width: 50%;
}

.clearfix {
	content: '';
	display: block;
	clear: both;
}

.img-container-right {
	float: right;
	padding-left: 1rem;
}

.img-container-left {
	float: left;
	padding-right: 1rem;
}