.body-content{
	margin-top: 100px;
}

.author{
	opacity: 0.8;
}

.navbar-default {
background-color: #2C3E50;
}

.read-more{
	margin-bottom: 10px;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

.footer-content{
	margin-top: 300px;
}

footer{
	color: 777777;
	background-color: #2C3E50;
}