<div class="wrapper">
    <form class="lab-create" method="post">
        <div class="create-header">
            Create Lab
        </div>
        <div class="create-name">
            <div class="create-label">Name</div>
            <input class="create-content" name="lab[name]"/>
        </div>
        <div class="create-name">
            <div class="create-label">Capacity</div>
            <input class="create-content" type="number" name="lab[capacity]"/>
        </div>
        <div class="create-name">
            <div class="create-label">Status</div>
            <select class="create-submit" name="lab[status]">
                <option value="Free">Free</option>
                <option value="Busy">Busy</option>
            </select>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Add</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    </form>
</div>