<div class="wrapper">
    <form class="lab-create" method="post">
        <div class="create-header">
            Archive Lab
        </div>
        <div class="create-name">
            <div class="create-label">Departure</div>
            <input class="create-content" name="lab[name]" readonly value="{{ lab.name }}"/>
        </div>
        <div class="create-name">
            <div class="create-label">Destination</div>
            <input class="create-content" name="lab[capacity]" readonly value="{{ lab.capacity}}"/>
        </div>
        <div class="create-name">
            <div class="create-label">Status</div>
            <input class="create-content" name="lab[status]" readonly value="{{ lab.status}}"/>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Archive</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    </form>
</div>