body {
  padding: 2rem;
}

.media-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.media {
  width: 12vw;
  background: #000;
  border-radius: 0.5rem;
  position: relative;
}
.media:not(:last-of-type) {
  margin-right: 2rem;
}
.media.ratio-1x1:before {
  display: block;
  content: '';
  padding-top: 100%;
}
.media.ratio-1x1:after {
  display: flex;
  content: "1x1";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media.ratio-16x9:before {
  display: block;
  content: '';
  padding-top: 56.25%;
}
.media.ratio-16x9:after {
  display: flex;
  content: "16x9";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media.ratio-16x10:before {
  display: block;
  content: '';
  padding-top: 62.5%;
}
.media.ratio-16x10:after {
  display: flex;
  content: "16x10";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media.ratio-9x16:before {
  display: block;
  content: '';
  padding-top: 177.7777777778%;
}
.media.ratio-9x16:after {
  display: flex;
  content: "9x16";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media.ratio-3x2:before {
  display: block;
  content: '';
  padding-top: 66.6666666667%;
}
.media.ratio-3x2:after {
  display: flex;
  content: "3x2";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.media.ratio-2x3:before {
  display: block;
  content: '';
  padding-top: 150%;
}
.media.ratio-2x3:after {
  display: flex;
  content: "2x3";
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}