<form method="post">
    <h2>Delete Product</h2>
    <div>
        <label for="category">Category</label>
        <select name="category" id="category" disabled>
            <option value="beef">Beef</option>
            <option value="chicken">Chicken</option>
            <option value="lamb">Lamb</option>
        </select>
    </div>
    <div>
        <label for="imageUrl">Image Url</label>
        <input id="imageUrl" name="imageUrl" value="{{imageUrl}}" type="text" disabled>
    </div>
    <div>
        <label for="size">Size</label>
        <input id="size" name="size" value="{{size}}" type="number" disabled>
    </div>
    <div>
        <strong>Toppings</strong><br>
        <textarea name="toppings" disabled>{{toppings}}</textarea>
    </div>
    <div>
        <a href="/" class="button">Cancel</a>
        <input type="submit" value="Delete" class="button" style="border:0"/>
    </div>
</form>