<section>
    <h2>Astronomy</h2>
    <div class="spacer">
        <h3>Edit history</h3>
        <ul>
            {{#each edit}}
                <li>
                    <a href="/article/article/{{article}}">{{dateFormat creationDate "HH:mm, DD MMMM YYYY "}}‎</a> by

                        <span class="author">{{author}}</span>
                </li>
            {{/each}}

        </ul>
    </div>
</section>
