@import url('https://fonts.googleapis.com/css?family=Karla');

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	text-align: center;
	background: #D3D3D3;
}

img {
	width: 350px;
	height: 250px;
}

.shell {
	padding: 0 1rem;
	margin: 0 auto;
}

.main .shell {
	display: flex;
	flex-wrap: wrap;
}

.main .shell h1 {
	font-size: 38px;
	flex: 1 0 100%;
	padding: 1rem 0;
}

.main .shell article {
	flex: 1 0 30%;
	border: 2px solid #1717FA;
	border-radius: 1rem;
	padding: 1rem;
	padding-bottom: 2rem;
	background: #87CEEB;
}

.main .shell article {
	margin-right: 2.5rem;
}

.main .shell article:last-of-type {
	margin-right: 0;
}

.main .shell article h2 {
	padding: 1rem 0;
}

.main .shell article p {
	font-size: 15px;
	padding-bottom: 1rem;
}

.main .shell article p > span {
	font-size: 22px;
	font-weight: bold;
}

.main .shell article .btn {
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border: 1px solid #2828F7;
	border-radius: 0.5rem;
	background: #D3D3D3;
}