@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    font-family: Roboto, sans-serif;
    background: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: auto;
}

img{
    width: 1180px;
    height: 450px;
}

.img-container{
    width: 1600px;
    height: 450px;
    margin-top: 65px;
}

h1{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}

nav{
    margin: 30px;
}

a{
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.home{
    color: #0a2d4a;
    font-weight: bold;
}

li:last-child a{
    color: #0a2d4a;
    font-weight: bold;
}

article img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

p::first-letter{
    font-family: Eucrosia, sans-serif;
    font-size: 40px;
}

span a{
    background: url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}

footer{
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}

article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

li{
    display:inline-block;
}

ul {
    text-align: center;
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

article{
    width: 350px;
    text-align: center;
}

article p {
    text-align: justify;
}

article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

article p { text-align: justify; }

span { display: inline-block; }

span a {  margin-top: 10px; padding: 10px; display: inline-block; background-image: url(images/bg2.jpg); color: #fff; }

h2, h3{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

h3 a{
    color: #1716E2;
}

p{
    margin: 20px;
}

article:nth-child(n) p{
    text-align: justify;
}

.comments .readmore{
    text-transform: none;
}
