<div class="jumbotron">
  <h1 class="display-3">Browse Our Movies!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad autem corporis dolor facilis fuga, incidunt ipsa itaque nam quibusdam rem tenetur unde vel velit veritatis voluptas. Doloribus eaque, eveniet exercitationem nisi odio ratione? A aliquam dignissimos doloribus earum exercitationem illo in iure molestias, nam officia possimus praesentium, sit suscipit unde.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<app-movies></app-movies>
