<h1>My Profile</h1>

<div class="profile-box">

    <img src="{{imageUrl}}">

    <div class="profile">
        <div class="info">
            <h3>My Teams</h3>

            <form action="/leaveTeam" method="POST">
                <p>{{team}}</p>

                <input type="submit" value="Leave Team">
            </form>
        </div>

        <div class="more-info">
            <h3>My Projects</h3>
            <p>{{projects}}</p>
        </div>
    </div>
</div>
