*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	max-width: 700px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: rgb(238, 238, 238);
}

img {
	width: 20%;
	border-radius: 10px;
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.25);
}

img ~ img {
	margin-left: 20px;
}

.container {
	display: flex;
}

.container img:nth-child(1) {
	flex: 0 1 16.67%;
}

.container img:nth-child(2) {
	flex: 1 0 50%;
	border-left: 10px solid rgb(0, 0, 0);
	border-right: 10px solid rgb(0, 0, 0);
}

.container img:nth-child(3) {
	flex: 0 1 16.67%;
}

.container img:nth-child(4) {
	flex: 0 1 16.67%;
}
