<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Vasil's site</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="top">
		<div class="shell">
			<nav class="nav-top">
				<ul>
					<li><a href="#">sign up</a></li>
					<li><a href="#">login</a></li>
				</ul>
			</nav><!-- /.nav-top -->

			<ul class="social-icons">
				<li><a href="#"><i class="fab fa-facebook"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div><!-- /.shell -->
	</div><!-- /.top -->

	<header class="header">
		<div class="shell">
			<div class="logo">
				<a href="/"><img src="/images/logo.png" alt="logo" /></a>
			</div><!-- /.logo -->
			
			<div class="search">
				<p>Cass US Now On: +359 xxxx xxxx</p>
				<input type="text" placeholder="Search Our Website..." />
				<input type="submit" value="search" />
			</div><!-- /.search -->	
			
				<nav class="nav">
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/gallery">gallery</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/contacts">contacts</a></li>
					</ul>
				</nav><!-- /.nav -->
		</div><!-- /.shell -->
	</header><!-- /.header -->

	{{ content }}

	<footer class="footer">
		<div class="shell">
			<section class="section section--about-us">
				<h5>about us</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium libero, quidem facere. Minima dolores obcaecati, unde facere cumque deserunt ipsa pariatur at accusantium dignissimos qui iusto consectetur expedita, fugit alias!</p>
				<a href="/read-more" class="read-more">read more</a>
			</section><!-- /.section section--about-us -->

			<section class="section section-links">
				<h5>links</h5>
				<nav class="nav">
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/gallery">gallery</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/contacts">contacts</a></li>
					</ul>
				</nav><!-- /.nav -->
			</section><!-- /.section section-links -->

			<section class="section section--contact-us">
				<h5>contact us</h5>
				<p><i class="fas fa-phone-volume"></i> +359 xxx xxx xxx</p>
				<p><i class="fas fa-envelope"></i> contact@gmail.com</p>
			</section><!-- /.section section--contact-us -->

			<section class="section section-copyright">
				<p>Copyright &copy; 2018 - All Rights Reserved</p>
			</section><!-- /.section section-copyright -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->
</body>
</html>